<?xml version="1.0" ?>
<!--
 /**
 * Copyright © Copyright Badge Direct BV
 * #3825: Developer toolbar for Magento2 - add to local env's - https://collab.seken.it/projects/295/tasks/31966
 * All rights reserved.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Smile\DebugToolbar\Helper\Config">
        <plugin name="Badge_ToolBarRestrictions_Plugin_Smile_DebugToolbar_Helper_Config"
                type="Badge\ToolBarRestrictions\Plugin\Smile\DebugToolbar\Helper\Config" sortOrder="10"
                disabled="false"/>
    </type>
    <preference for="Smile\DebugToolbar\Block\Zone\Cache"
                type="Badge\ToolBarRestrictions\Rewrite\Smile\Block\Zone\Cache"/>
    <preference for="Smile\DebugToolbar\Block\Zone\Server"
                type="Badge\ToolBarRestrictions\Rewrite\Smile\Block\Zone\Server"/>
</config>
